.hero {
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  padding: 0 0 var(--size-gutter);
  position: relative;
  text-align: center;
  justify-content: center;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
}

.details {
  background: var(--background);
  
  width: 85%;
  padding: var(--space-2xl) var(--size-gutter) 0;
  position: relative;

  align-items: flex-end;
  margin: 0 auto;
  padding: 2px;
  position: relative;
  text-align: center;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
}

.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  margin: 0;
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
    width: 85%;
  }

  .details {
    left: var(--size-gutter);
   
  }
}
